*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #7EB8DE;
}

.container{
    background-color: #c6dceb63;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 2px 5px 5px gray;
}

.container-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    color: white;
}

.button-clean{
    background-color: #ED6768;
}

.button-operation{
    background-color: #EEA432;
}

.button-result{
    background-color: #27CF55;
}

.number{
    background-color: #4BA4F2;
}

.container-buttons > div{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px gray;
}

.container-screen{
    margin-bottom: 10px;
}

.container-result{
    text-align:end;
    color: #094770;
    font-size: 36px;
    font-weight: bold;
}

.container-operation{
    text-align: end;
    margin-bottom: 10px;
}
